<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>• CFBundleIdentifier = com.Finch13.WifiUtilityHelper
• CFBundleName = WifiUtilityHelper
• LSBackgroundOnly = 1
• MachServices (Dictionary):
   • com.Finch13.WifiUtilityHelper = true
</string>
</dict>
</plist>
